{% extends "bootstrap/base.html" %}

{% block title %}Access Denied{% endblock %}

{% block content %}

	<div class="container">
		<h1>Access Denied </h1>
		<div class="tenor-gif-embed" data-postid="13012986" data-share-method="host" data-aspect-ratio="1.1985" data-width="50%">
			<a href="https://tenor.com/view/no-absolutely-not-gif-13012986">No Absolutely GIF</a>from
			<a href="https://tenor.com/search/no-gifs">No GIFs</a></div>
			<script type="text/javascript" async src="https://tenor.com/embed.js"></script>
	</div>

{% endblock %}
