
{% extends "bootstrap/base.html" %}

{% block title %}Success{% endblock %}

{% block content %}

	<div class="container">
		<h1>Top Secret </h1>
		<div class="tenor-gif-embed" data-postid="25080066" data-share-method="host" data-aspect-ratio="1" data-width="50%">
			<a href="https://tenor.com/view/borat-borat-very-nice-verynice-thumbs-up-gif-25080066">Borat Borat Very Nice GIF</a>from
			<a href="https://tenor.com/search/borat-gifs">Borat GIFs</a></div>
			<script type="text/javascript" async src="https://tenor.com/embed.js"></script>
		</div>
{% endblock %}